
body{
	font-family: 'Montserrat', sans-serif;
}

.carousel-caption {
   
    bottom: 35%;
    
}



.about-content i{
	font-size: 35px;
}



.getting-started{
	background:url(../images/1.jpg);
	height: 200px;
	background-size: cover;
	position: relative;
}


.overlay{
position: absolute;
width:100%;
height:100%;
background: rgba(220,53,69,0.5);
}



.section-banner{

	background: url(../images/bn2.jpg);
	height: 250px;
	background-size: cover;
	background-position: center;
}



.what-we-do img{
margin-top: -100px;
}



.scrollup {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 50px;
    /*right: 100px;*/
    right: 5%;
    display: none;
    /*text-indent: -9999px;*/
    /*background: url('icon_top.png') no-repeat;
    background-color: #000;*/


}


.scrollup i{
	font-size: 30px;
}